# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle
android/app/debug
android/app/profile
android/app/release

# iOS
ios/Pods/
ios/.symlinks/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
